# Ambiente virtual
venv/
.env/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log